body {
    height: 100vh;
    background-color: #F4DF20;
    margin: 0;
}



#add-button {
    background-color: #2D3047;
    border-radius: 50%;
    color: white;
    margin-left: 5%;
    border: none;
}

#remove-button {
    background-color: #2D3047;
    border-radius: 50%;
    color: white;
    position: absolute;
    /* margin-left: 10%; */
    right: 30%;
 
}

#search-button {
    border: none;
    border-radius: 10px;
    background-color: #B61E1E;
    color: white;
    position: absolute;
    bottom: 10%;
    width: 50%;
    left: 25%;
   
    
}

form {
    z-index: 4;
    position: absolute;
    top: 15vh;
    left: 10vw;
    border: #2D3047 solid 3px;
    border-radius: 30px;
    padding: 30px 20px 20px 20px;
    height: 80vh;
    width: 30vw;
    background-color: rgb(218, 210, 216, 0.4);
    
 
}
.field{
    margin-top: 5vh;
}

.control {
    margin-left: 5%;
    
    width: 75%;
}

label {
    font-size: 24px;
    margin-left: 5%;
    
    font-weight: bold;
    color: black;
}

.li {
    margin-top: 20px;
    margin-left: 20%;
    font-size: 20px;
}


#veggies {
    /* z-index: 0; */
    position: absolute;
    scale: 0.7;
    right: -20%;
    bottom: -130vh;
}

#styling {
    position: absolute;
    right: 0;
    top: 20vh;
}

#text-healthy {
    font-weight: bold;
    font-size: 17vh;
    left: 40%;
    top: -5vh;
    position: relative;
    letter-spacing: 0.2vh;
}

#text-vegetarian {
    transform: rotate(90deg);
    position: absolute;
    right: -100%;
    top: 25vh;
    font-size: 15vh;
}
#text-find-recipes {
    font-size: 7vh;
    position: absolute;
    top: -7vh;
    left: 50vh;
}

#text-cook {
    font-size: 7vh;
    position: absolute;
    left: 80%;
    top: 20vh;
    letter-spacing: 0.2vh;
    width: 500px;
}