#nav-bar {
  height: 10vh;
  background-color: #2d3047;
  display: flex;
  justify-content: space-between;
  padding: 0.1em 3em 0.1em 0.5em;
  z-index: 2;
  position: fixed;
  width: 100vw;
  top: 0;
}

#nav-bar #logo {
  border-radius: 50%;
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-button {
  border-radius: 1rem;
  background-color: #466c43;
  color: #ffffff;
  border: none;
}

/* #container { */
  /* margin-left: 0;  */
  /* margin-right: 0; */
  /* width: 100vw; */
/* } */
