#recipe-results {
  overflow: hidden;
  width: 100vw;
  position: relative;
}

#recipe-page-title {
  margin-top: 10vh;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  padding: 1em 0 0 1em;
}

#decoration-dish {
  position: fixed;
  overflow: visible;
  width: 40%;
  height: 50%;
  object-position: 50% 50%;
  top: -20%;
  right: -18%;
  object-fit: cover;
}

#recipe-page-main {
  /* height: 50vh; */
  position: relative;
}

#recipe-page-footer {
  /* height: 20vh; */
  position: relative;
}

#recipe-page-footer button {
  background-color: #b6671e;
  color: white;
}

#decoration-groceries {
  width: 40%;
  height: 100%;
  position: absolute;
  bottom: 80%;
  left: -12%;
  object-fit: cover;
  /* z-index: -1; */
  overflow: visible;
}

#recipe-card {
  background-color: #0ac43c;
  box-shadow: 0.25em 0.25em 0.25em grey;
  border-radius: 1em;
}

#recipe-image-box {
  border-radius: 1em;
  box-shadow: -0.2em 0.2em 0.2em grey;
}

.card {
  z-index: 1;
}

@media (min-width: 480px) {
  #recipe-page-title {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  #recipe-page-title {
    font-size: 3rem;
  }
}