#recipe-page-main {
  overflow: hidden;
}

#recipe-page-header {
  padding: 1.5rem;
  position: relative;
}

#recipe-page-title {
  font-weight: bold;
  font-size: 1.25rem;
  color: black;
}

#decoration-dish {
  width: 60%;
  height: 150%;
  position: absolute;
  top: -90%;
  right: -25%;
  object-fit: cover;
  z-index: -1;
  overflow: visible;
}

#recipe-page-footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}

#decoration-groceries {
  width: 60%;
  height: 150%;
  position: absolute;
  bottom: 100%;
  left: -25%;
  object-fit: cover;
  z-index: -1;
  overflow: visible;
}

@media (min-width: 768px) {
  #recipe-page-title {
    font-size: 3rem;
  }
}
