#carousel-column {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carousel-container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 45vw;
  height: 100vh;
  outline-style: double;
}

.carousel-image {
  display: block;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  object-position: 0 0;
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}

.active {
  opacity: 1;
}

#logo-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-areas: 
  "title"
  "subtitle"
  "start-btn";
 
}

#main-logo {
 position: absolute;
 height: 15vh;
 left: 2vw;
 opacity: 75%;
}

#start-button-container {
  grid-area: start-btn;
  margin-right: 10vw;
}

#title {
  font-size: 14vh;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  grid-area: title;
  text-align: center;
  margin-right: 10vw;
  margin-top: 17vh;
  margin-left: 5vw;
  color: black;
  /* width: 50vw; */
}

#subtitle {
  font-size: 1.4rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-right: 15vw;
  margin-left: 10vw;
  margin-top: 2vh;
}

#start {
  width: 10vw;
  background-color: #33B61E;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 5vw;
  margin-bottom: 15vh;
}

@media (min-width: 1408px) {
  .carousel-image {
    object-position: 0 -6.5em;
  }
}
