.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carousel {
  position: absolute;
  overflow: hidden;
  height: 750px;
  width: 700px;
  left: 100px;
  outline-style: double;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  height: 100%;
  width: 100%;
}

.active {
  opacity: 1;
}

.startingLogo{
  position: relative;
  top: 340px;
}
@media (max-width: 1500px) {
  .carousel {
    height: 600px;
    width: 600px;
    left: 50px;
    top: 50px;
  }
  .startingLogo{
    position: relative;
    top: 270px;
    left: -100px;
  }

}

@media (max-width: 600px) {
  .carousel {
    height: 500px;
    width: 100%;
    left: 0px;
    top: 0px;
  }
  .startingLogo{
    position: relative;
    top: 540px;
    left: 80px;
  }

}

